<% layout('layout') -%>

<div class="container">

    <div class="card">

        <div class="title">
            <h1><%= title %></h1>
        </div>

        <form method="post">

            <input type="search" results="5" placeholder="Site name" name="search">

        </form>

        <br><br>

        <% if(messages.success) { %>

            <p class="success">
                <%= messages.success %>
            </p>
            <br>

        <% } %>

        <ul>

            <% for(var i=0; i<sites.length;i++){ %>

                <li>
                    <a href="/sites/<%= sites[i]._id %>"><%= sites[i].title %></a> -

                    <form id="delete" method="post" action="/admin/delete">

                        <input type="hidden" name="id" value="<%= sites[i]._id %>">

                        <input type="submit" value="Delete">

                    </form>
                </li>

            <% } %>

        </ul>

        <br>

        <div class="btn  btn--primary"><a href="/admin/new">Add new</a></div>

    </div>

</div>